### Script Plamade : calcul des PL cat 2 et cat 3 et calcul des 2R cat 4a et cat 4b

! Connexion à la base : modifier le nom de la base (database), l'hôte qui est l'adresse du serveur (host), le port, le profil d'utilisateur (user) et le mot de passe associé (password).

In [1]:
import psycopg2 as pg
import pandas as pd
try :
    dbcon = pg.connect(database="plamade", host="localhost", port="5432" ,user="postgres", password="Hazel")
    print("Connectée")
except psycopg2.DatabaseError as error :
    print(error)
    dbcon.close()
    
cur=dbcon.cursor()

Connectée

! Variables des ratios cat2, cat3 et cat4a cat4b : à vérifier

In [2]:
## variables ratio (à vérifier si pas de changement)

## ratios PL hors Paris (tous dept sauf 75) en fonction de la catégorie d'infrastructure
cat2autohp = 31.0
cat2rurahp = 43.0
cat2urbahp = 57.5
cat3autohp = 69.0
cat3rurahp = 57.0
cat3urbahp = 42.5

## ratios PL dans Paris (dept 75) en fonction de la catégorie d'infrastructure
cat2autodp = 31.6
cat2ruradp = 36.8
cat2urbadp = 31.9
cat3autodp = 68.4
cat3ruradp = 63.2
cat3urbadp = 68.1

## ratios 2R pour VL + PL en fonction de la catégorie d'infrastructure
cat4aauto = 0.0
cat4arura = 0.4
cat4aurba = 1.1
cat4bauto = 1.6
cat4brura = 2.7
cat4burba = 2.4

Afin de coller au format du Géostandard, les pourcentages fournis par les tableaux de catégories ont été arrondis à un chiffre après la virgule.

! Variables à modifier : schema pour l'emplacement des tables dans la base de donénes, dept pour le niméro de département dans le nom des tables.

In [3]:
## variable schéma contenant les tables
schema = 'echeance4'

%%time
## optimisation des tables nationales trafic, troncon_l, route
try :
    req_sql = "CREATE INDEX traficcodedept ON {}.\"N_ROUTIER_TRAFIC\" USING btree(\"CODEDEPT\");\
    CREATE INDEX traficidtroncon ON {}.\"N_ROUTIER_TRAFIC\" USING btree(\"IDTRONCON\");\
    CREATE INDEX tronconidroute ON {}.\"N_ROUTIER_TRONCON_L\" USING btree(\"IDROUTE\");\
    CREATE INDEX routeidroute ON {}.\"N_ROUTIER_ROUTE\" USING btree(\"IDROUTE\");".format(schema,schema,schema,schema)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok ")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

In [4]:
##variable département (inutile en table nationale)
dept = ['069']

In [5]:
%%time
## creation de tables départementales 
try :
    for d in dept :
        req_sql = "CREATE TABLE {}.\"N_ROUTIER_TRAFIC_{}\" AS(SELECT * FROM\
        {}.\"N_ROUTIER_TRAFIC\" WHERE \"CODEDEPT\" = '{}');\
        CREATE TABLE {}.\"N_ROUTIER_TRONCON_L_{}\" AS(SELECT * FROM\
        {}.\"N_ROUTIER_TRONCON_L\" WHERE \"CODEDEPT\" = '{}');\
        CREATE TABLE {}.\"N_ROUTIER_ROUTE_{}\" AS(SELECT * FROM\
        {}.\"N_ROUTIER_ROUTE\" WHERE \"CODEDEPT\" = '{}');".format(schema,d,schema,d,schema,d,schema,d,schema,d,schema,d)
        print(req_sql)
        cur.execute(req_sql)
    print("---ok ")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

CREATE TABLE echeance4."N_ROUTIER_TRAFIC_069" AS(SELECT * FROM        echeance4."N_ROUTIER_TRAFIC" WHERE "CODEDEPT" = '069');        CREATE TABLE echeance4."N_ROUTIER_TRONCON_L_069" AS(SELECT * FROM        echeance4."N_ROUTIER_TRONCON_L" WHERE "CODEDEPT" = '069');        CREATE TABLE echeance4."N_ROUTIER_ROUTE_069" AS(SELECT * FROM        echeance4."N_ROUTIER_ROUTE" WHERE "CODEDEPT" = '069');
---ok
Wall time: 650 ms

In [6]:
%%time
## optimisation de tables départementales
try :
    req_sql = "CREATE INDEX traficcodedept_{} ON {}.\"N_ROUTIER_TRAFIC_{}\" USING btree(\"CODEDEPT\");\
    CREATE INDEX traficidtroncon_{} ON {}.\"N_ROUTIER_TRAFIC_{}\" USING btree(\"IDTRONCON\");\
    CREATE INDEX tronconidroute_{} ON {}.\"N_ROUTIER_TRONCON_L_{}\" USING btree(\"IDROUTE\");\
    CREATE INDEX routeidroute_{} ON {}.\"N_ROUTIER_ROUTE_{}\" USING btree(\"IDROUTE\");\
    ".format(d,schema,d,d,schema,d,d,schema,d,d,schema,d)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok ")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

CREATE INDEX traficcodedept_069 ON echeance4."N_ROUTIER_TRAFIC_069" USING btree("CODEDEPT");    CREATE INDEX traficidtroncon_069 ON echeance4."N_ROUTIER_TRAFIC_069" USING btree("IDTRONCON");    CREATE INDEX tronconidroute_069 ON echeance4."N_ROUTIER_TRONCON_L_069" USING btree("IDROUTE");    CREATE INDEX routeidroute_069 ON echeance4."N_ROUTIER_ROUTE_069" USING btree("IDROUTE");
---ok
Wall time: 399 ms

In [7]:
%%time
## calcul de PCENTMPL 
try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"PCENTMPL\" = \
        CASE WHEN \"CODEDEPT\" = '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon,\
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" = \
        route.\"IDROUTE\" AND (\"CATINFRA\" = 'AR' OR \"CATINFRA\" = 'AL')) THEN (\"PCENTPL\"*{})/100\
        WHEN \"CODEDEPT\" = '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon,\
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" = \
        route.\"IDROUTE\" AND ( \"CATINFRA\" = 'RR' OR \"CATINFRA\" = 'RL')) THEN (\"PCENTPL\"*{})/100\
        WHEN \"CODEDEPT\" = '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon,\
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  \"CATINFRA\" = 'VU') THEN (\"PCENTPL\"*{})/100\
        ELSE \"PCENTMPL\"\
        END;\
        UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"PCENTMPL\" = \
        CASE WHEN \"CODEDEPT\" != '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon,\
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" =\
        route.\"IDROUTE\" AND (\"CATINFRA\" = 'AR' OR \"CATINFRA\" = 'AL')) THEN (\"PCENTPL\"*{})/100\
        WHEN \"CODEDEPT\" != '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon,\
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" =\
        route.\"IDROUTE\" AND  (\"CATINFRA\" = 'RR' OR \"CATINFRA\" = 'RL')) THEN (\"PCENTPL\"*{})/100\
        WHEN \"CODEDEPT\" != '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon,\
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" =\
        route.\"IDROUTE\" AND  \"CATINFRA\" = 'VU') THEN (\"PCENTPL\"*{})/100\
        ELSE \"PCENTMPL\"\
        END;".format(schema,d,d,schema,d,schema,d,schema,d,cat2autodp,d,schema,
                     d,schema,d,schema,d,cat2ruradp,d,schema,d,schema,d,schema,
                     d,cat2urbadp,schema,d,d,schema,d,schema,d,schema,d,cat2autohp,
                     d,schema,d,schema,d,schema,d,cat2rurahp,d,schema,d,schema,d,schema,d,cat2urbahp)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok ")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "PCENTMPL" =         CASE WHEN "CODEDEPT" = '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,        echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE" =         route."IDROUTE" AND ("CATINFRA" = 'AR' OR "CATINFRA" = 'AL')) THEN ("PCENTPL"*31.6)/100        WHEN "CODEDEPT" = '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,        echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE" =         route."IDROUTE" AND ( "CATINFRA" = 'RR' OR "CATINFRA" = 'RL')) THEN ("PCENTPL"*36.8)/100        WHEN "CODEDEPT" = '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,        echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  "CATINFRA" = 'VU') THEN ("PCENTPL"*31.9)/100        ELSE "PCENTMPL"        END;        UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "PCENTMPL" =         CASE WHEN "CODEDEPT" != '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,        echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE" =        route."IDROUTE" AND ("CATINFRA" = 'AR' OR "CATINFRA" = 'AL')) THEN ("PCENTPL"*31.0)/100        WHEN "CODEDEPT" != '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,        echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE" =        route."IDROUTE" AND  ("CATINFRA" = 'RR' OR "CATINFRA" = 'RL')) THEN ("PCENTPL"*43.0)/100        WHEN "CODEDEPT" != '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,        echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE" =        route."IDROUTE" AND  "CATINFRA" = 'VU') THEN ("PCENTPL"*57.5)/100        ELSE "PCENTMPL"        END;
---ok
Wall time: 47.2 s

In [8]:
%%time
## calcul de PCENTHPL
try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"PCENTHPL\" = \
        CASE WHEN \"CODEDEPT\" = '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND (\"CATINFRA\" = 'AR' OR \"CATINFRA\" = 'AL')) THEN (\"PCENTPL\"*{})/100\
        WHEN \"CODEDEPT\" = '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  (\"CATINFRA\" = 'RR' OR \"CATINFRA\" = 'RL')) THEN (\"PCENTPL\"*{})/100\
        WHEN \"CODEDEPT\" = '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  \"CATINFRA\" = 'VU') THEN (\"PCENTPL\"*{})/100\
        ELSE \"PCENTHPL\"\
        END;\
        UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"PCENTHPL\" = \
        CASE WHEN \"CODEDEPT\" != '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND (\"CATINFRA\" = 'AR' OR \"CATINFRA\" = 'AL')) THEN (\"PCENTPL\"*{})/100\
        WHEN \"CODEDEPT\" != '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  (\"CATINFRA\" = 'RR' OR \"CATINFRA\" = 'RL')) THEN (\"PCENTPL\"*{})/100\
        WHEN \"CODEDEPT\" != '075' AND \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  \"CATINFRA\" = 'VU') THEN (\"PCENTPL\"*{})/100\
        ELSE \"PCENTHPL\"\
        END;".format(schema,d,d,schema,d,schema,d,schema,d,cat3autodp,d,schema,d,
                     schema,d,schema,d,cat3ruradp,d,schema,d,schema,d,schema,d,cat3urbadp,
                     schema,d,d,schema,d,schema,d,schema,d,cat3autohp,d,schema,d,schema,d,
                     schema,d,cat3rurahp,d,schema,d,schema,d,schema,d,cat3urbahp)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "PCENTHPL" =         CASE WHEN "CODEDEPT" = '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND ("CATINFRA" = 'AR' OR "CATINFRA" = 'AL')) THEN ("PCENTPL"*68.4)/100        WHEN "CODEDEPT" = '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  ("CATINFRA" = 'RR' OR "CATINFRA" = 'RL')) THEN ("PCENTPL"*63.2)/100        WHEN "CODEDEPT" = '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  "CATINFRA" = 'VU') THEN ("PCENTPL"*68.1)/100        ELSE "PCENTHPL"        END;        UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "PCENTHPL" =         CASE WHEN "CODEDEPT" != '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND ("CATINFRA" = 'AR' OR "CATINFRA" = 'AL')) THEN ("PCENTPL"*69.0)/100        WHEN "CODEDEPT" != '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  ("CATINFRA" = 'RR' OR "CATINFRA" = 'RL')) THEN ("PCENTPL"*57.0)/100        WHEN "CODEDEPT" != '075' AND "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  "CATINFRA" = 'VU') THEN ("PCENTPL"*42.5)/100        ELSE "PCENTHPL"        END;
---ok
Wall time: 45.7 s

In [9]:
%%time
## mise à jour du champ ratio PCENT2R4A
try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"PCENT2R4A\" = \
        CASE WHEN \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND (route.\"CATINFRA\" = 'AR' OR \"CATINFRA\" = 'AL')) THEN {}\
        WHEN \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  (route.\"CATINFRA\" = 'RR' OR route.\"CATINFRA\" = 'RL')) THEN {}\
        WHEN \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  \"CATINFRA\" = 'VU') THEN {}\
        ELSE NULL\
        END;".format(schema,d,d,schema,d,schema,d,schema,d,cat4aauto,d,schema,d,schema,
                     d,schema,d,cat4arura,d,schema,d,schema,d,schema,d,cat4aurba)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "PCENT2R4A" =         CASE WHEN "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND (route."CATINFRA" = 'AR' OR "CATINFRA" = 'AL')) THEN 0.0        WHEN "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  (route."CATINFRA" = 'RR' OR route."CATINFRA" = 'RL')) THEN 0.4        WHEN "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  "CATINFRA" = 'VU') THEN 1.1        ELSE NULL        END;
---ok
Wall time: 44.9 s

In [10]:
%%time
## mise à jour du champ ratio PCENT2R4B
try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"PCENT2R4B\" = \
        CASE WHEN \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND (\"CATINFRA\" = 'AR' OR \"CATINFRA\" = 'AL')) THEN {}\
        WHEN \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  (\"CATINFRA\" = 'RR' OR \"CATINFRA\" = 'RL')) THEN {}\
        WHEN \"N_ROUTIER_TRAFIC_{}\".\"IDTRONCON\" IN \
        (SELECT troncon.\"IDTRONCON\" FROM {}.\"N_ROUTIER_TRONCON_L_{}\" troncon, \
        {}.\"N_ROUTIER_ROUTE_{}\" route, {}.\"N_ROUTIER_TRAFIC_{}\" trafic\
        WHERE troncon.\"IDTRONCON\" = trafic.\"IDTRONCON\" AND troncon.\"IDROUTE\" \
        = route.\"IDROUTE\" AND  \"CATINFRA\" = 'VU') THEN {}\
        ELSE NULL\
        END;".format(schema,d,d,schema,d,schema,d,schema,d,cat4bauto,d,schema,d,schema,d,schema,
                     d,cat4brura,d,schema,d,schema,d,schema,d,cat4burba)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "PCENT2R4B" =         CASE WHEN "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND ("CATINFRA" = 'AR' OR "CATINFRA" = 'AL')) THEN 1.6        WHEN "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  ("CATINFRA" = 'RR' OR "CATINFRA" = 'RL')) THEN 2.7        WHEN "N_ROUTIER_TRAFIC_069"."IDTRONCON" IN         (SELECT troncon."IDTRONCON" FROM echeance4."N_ROUTIER_TRONCON_L_069" troncon,         echeance4."N_ROUTIER_ROUTE_069" route, echeance4."N_ROUTIER_TRAFIC_069" trafic        WHERE troncon."IDTRONCON" = trafic."IDTRONCON" AND troncon."IDROUTE"         = route."IDROUTE" AND  "CATINFRA" = 'VU') THEN 2.4        ELSE NULL        END;
---ok
Wall time: 44.8 s

In [11]:
%%time
## mise à jour du champ ratio PCENT2R
try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"PCENT2R\" = \
        \"PCENT2R4B\" + \"PCENT2R4A\"; ".format(schema,d)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "PCENT2R" =         "PCENT2R4B" + "PCENT2R4A";
---ok
Wall time: 562 ms

In [12]:
%%time
## implémentation de TMJA2RT = (TMJAVLT+TMJAPLT) * PCENT2R 

try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"TMJA2RT\" = \
        round((\"TMJAVLT\" + \"TMJAPLT\")*(\"PCENT2R\"/100)); ".format(schema,d)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "TMJA2RT" =         round(("TMJAVLT" + "TMJAPLT")*("PCENT2R"/100));
---ok
Wall time: 737 ms

In [13]:
%%time
## implémentation de TMH2RD =  (TMHVLD+TMHPLD)* PCENT2R

try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"TMH2RD\" = \
        round((\"TMHVLD\" + \"TMHPLD\")*(\"PCENT2R\")/100); ".format(schema,d)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "TMH2RD" =         round(("TMHVLD" + "TMHPLD")*("PCENT2R")/100);
---ok
Wall time: 683 ms

In [14]:
%%time
## implémentation de TMH2RN = (TMHVLN+TMHPLN) * PCENT2R
try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"TMH2RN\" = \
        round((\"TMHVLN\" + \"TMHPLN\")*(\"PCENT2R\")/100); ".format(schema,d)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "TMH2RN" =         round(("TMHVLN" + "TMHPLN")*("PCENT2R")/100);
---ok
Wall time: 665 ms

In [15]:
%%time
## implémentation de TMH2RS = (TMHVLS+TMHPLS) * PCENT2R

try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"TMH2RS\" = \
        round((\"TMHVLS\" + \"TMHPLS\")*(\"PCENT2R\")/100); ".format(schema,d)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "TMH2RS" =         round(("TMHVLS" + "TMHPLS")*("PCENT2R")/100);
---ok
Wall time: 589 ms

In [16]:
%%time
## mise à jour du champ SOURCE2R ! dans les données de la DTec : SOURCE2RL
try :
    req_sql = "UPDATE {}.\"N_ROUTIER_TRAFIC_{}\" SET \"SOURCE2RL\" = '10'".format(schema,d)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

UPDATE echeance4."N_ROUTIER_TRAFIC_069" SET "SOURCE2RL" = '10'
---ok
Wall time: 599 ms

! L'étape suivante de forçage des types de champs ne devrait pas être nécessaire dans Plamade

In [17]:
%%time
## forçage des types de champs
try :
    req_sql = "ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"TMJA2RT\" TYPE smallint;\
        ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"TMH2RD\" TYPE smallint;\
        ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"TMH2RS\" TYPE smallint;\
        ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"TMH2RN\" TYPE smallint;\
        ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"PCENTMPL\" TYPE numeric(4,1);\
        ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"PCENTHPL\" TYPE numeric(4,1);\
        ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"PCENT2R4A\" TYPE numeric(4,1);\
        ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"PCENT2R4B\" TYPE numeric(4,1);\
        ALTER TABLE {}.\"N_ROUTIER_TRAFIC_{}\" ALTER COLUMN \"PCENT2R\" TYPE numeric(4,1);\
        ".format(schema,d,schema,d,schema,d,schema,d,schema,d,schema,d,schema,d,schema,d,schema,d,schema,d,schema,d,schema,d)
    print(req_sql)
    cur.execute(req_sql)
    print("---ok")
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close
    print('closed')

ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "TMJA2RT" TYPE smallint;        ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "TMH2RD" TYPE smallint;        ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "TMH2RS" TYPE smallint;        ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "TMH2RN" TYPE smallint;        ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "PCENTMPL" TYPE numeric(4,1);        ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "PCENTHPL" TYPE numeric(4,1);        ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "PCENT2R4A" TYPE numeric(4,1);        ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "PCENT2R4B" TYPE numeric(4,1);        ALTER TABLE echeance4."N_ROUTIER_TRAFIC_069" ALTER COLUMN "PCENT2R" TYPE numeric(4,1);
---ok
Wall time: 5.37 s

In [18]:
## Commit des modifications et fermeture du cursor 
## Le commit transpose toutes les étapes précédentes dans la base : à n'éxécuter que si toutes les étapes
## précédentes se sont déroulées complétement et sans erreur.
try : 
    cur.close()
    dbcon.commit()
    print('---ok')
except psycopg2.DatabaseError as error :
    print(error)
    cur.close
    dbcon.close()

---ok

In [19]:
## Fermeture de la connexion à la base
try :
    dbcon.close()
    print("Bonne nuit!")
except psycopg2.DatabaseError as error :
    print(error)
    dbcon.close()

Bonne nuit!